.node {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  z-index: 10;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);

  &:active {
    background-color: darkred;
    color: white;
  }
}